/* body style */
.react-drag-body-resizing {
  user-select: none;
}

.react-drag-body-resizing.react-drag-vertical {
  cursor: ns-resize;
}

.react-drag-body-resizing.react-drag-horizontal {
  cursor: ew-resize;
}

.react-drag-body-resizing.react-drag-both {
  cursor: move;
}

.react-drag-body-resizing::selection {
  all: inherit;
}
/* body style end */

/* container style */
.react-drag-container {
  height: 100%;
  width: 100%;
  position: relative;
}
/* container style end */

/* divider style */
.react-drag-divider {
  position: absolute;
  background-color: #ebedf1;
}

.react-drag-divider.react-drag-horizontal {
  width: 1px;
}

.react-drag-divider.react-drag-horizontal:is(:hover, :active, .react-drag-active) {
  width: 3px;
  cursor: ew-resize;
}

.react-drag-divider:is(:hover, :active, .react-drag-active) {
  z-index: 1;
  background-color: #528bff;
}

.react-drag-divider.react-drag-vertical {
  height: 1px;
}

.react-drag-divider.react-drag-vertical:is(:hover, :active, .react-drag-active) {
  height: 3px;
  cursor: ns-resize;
}
/* divider style end */

/* pointer style */
.react-drag-pointer {
  position: absolute;
  height: 1px;
  width: 1px;
  background-color: transparent;
  cursor: move;
  z-index: 1;
}

.react-drag-pointer:is(:hover, :active) {
  width: 3px;
  height: 3px;
}
/* pointer style end */

/* mask style */
.react-drag-mask {
  position: absolute;
  background-color: #528bff;
  opacity: .7;
  pointer-events: none;
  transition: all .1s;
  z-index: 1;
}
/* mask style end */
